body { /*Тело*/
	font-family: Arial; /*Шрифт*/
	font-size: 12px; /*Размер шрифта*/
}

div { /*Блок*/
	width: 50% ; /*Ширина (% от родительского элемента)*/
	border: 2px solid #000080; /*Рамка: толщина стиль цвет*/
	border-radius: 10px; /*Скругления углов рамки*/
	padding: 20px; /*Отступы внутри*/
	margin-left: 25%; /*Отступ по левому краю (% от родительского элемента)*/
	background-color: #0085d2; /*Цвет фона*/
	box-shadow: 0 0 5px; /*Тени*/
}

h1 { /*Заголовок 1*/
	text-align: center; /*Выравнивание текста по центру*/
	margin: 10px 0 0 0; /*Внешние отступы*/ 
}

h2 { /*Заголовок 2*/
	text-transform: uppercase; /*Заглавные буквы*/
	text-align: left; /*Выравнивание текста по левому краю*/
	margin: 20px 0 0 0; /*Внешние отступы*/ 
}

h1, h2 { /*Заголовоки 1 и 2*/
	font-weight: bold; /*Жирный шрифт*/ 
	font-size: 1.5em; /*Размер шрифта: 1.5 относительно основного*/
}

.par { /*Абзац*/
	margin: 5px 0 0 25px; /*Внешние отступы*/
}

.par_underline { /*Подчеркнутый абзац*/
	text-decoration: underline; /*Подчеркивание текста*/
	font-weight: bold; /*Жирный шрифт*/
}

.par_italic { /*Абзац курсивом*/
	font-style: italic; /*Курсивный шрифт*/
	font-weight: bold; /*Жирный шрифт*/
}

#list1_disc { /*Список 1*/
	list-style-type: disc; /*Маркеры списка: диск*/
}

#list2_circle { /*Список 2*/
	list-style-type: circle; /*Маркеры списка: диск*/
	padding-left: 25px; /*Внутренний отступ слева*/
}
#list3_square { /*Список 3*/
	list-style-type: square; /*Маркеры списка: диск*/
	margin: 0; /*Внешние отступы*/
}

ul { /*Маркированные списки*/
	margin-top: -10px; /*Внешний отступ сверху*/
}