/* свойства для всех элементов */
* {
    margin: 4px;  /* отступы снаружи */
    padding: 0;  /* отступы внутри */
    font-family: Arial;  /* стиль шрифта */
    font-size: 16px; /* размер шрифта */
}

/* Тело */
body {
    background: url("pics/pic_background.png"); /* изображение заднего фона */
}

/* Тело, корневой элемент, изображение МОЙСАЙТ, блоки верхнего блока меню*/
body, html, .img_mysite, #top_menu .menu{
    height: 100%;  /* высота: относительно родительского элемента */
}

/* Изображение МОЙСАЙТ */
.img_mysite {
    width: 100%; /* ширина: относительно родительского элемента */
    object-fit: scale-down;  /* изменение размера: относительно родительского элемента либо не изменяет размер */
}

/* Блок заголовка  */
#header {
    height: 16%; /* ширина: относительно родительского элемента */
}

/* Блок заголовка, блок верхнего меню, блоки верхнего блока меню, блок левого меню, пустой блок, блок контента, блок дата блока контент, блок новости блока контент */
#header, #top_menu, #top_menu .menu, #left_menu, .empty_block, #content, #content .date, #content .news {
    float: left;  /* расположение блоков */
}

/* Блок заголовка, блок верхнего меню, блок контента */
#header, #top_menu, #content {
    width: 60%; /* ширина: относительно родительского элемента */
}

/* Блоки верхнего блока меню, блок даты блока контент */
#top_menu .menu, #content .date {
    min-width: 10%;  /* минимальная ширина: относительно родительского элемента */
}

/* Блоки верхнего блока меню, блок даты блока контент */
#top_menu .menu {
    text-align: center;  /* выравнивание текста по горизонтали */
}

/* Блок верхнего меню */
#top_menu  {
    min-height: 4%;  /* минимальная высота: относительно родительского элемента */
}

/* Блок левого меню, пустой блок */
#left_menu, .empty_block{
    min-width: 16%; /* минимальная ширина: относительно родительского элемента */
    min-height: 20%; /* минимальная высота: относительно родительского элемента */
}

/* Блок левого меню */
#left_menu, #content .date {
    clear: left; /* убрать обтекание */
}

/* Блок новости блока контент */
#content .news {
    width: 80%; /* ширина: относительно родительского элемента */
}